
body {
  background: MediumTurquoise !important;
}

  #top li {
      display: inline;
      padding: 0px 5px 0px 5px;
}


#top ul {
	list-style-type: none;
    float: left;
    padding: 5px;
    background-color: black;


}

img {
	border-radius: 50% !important;
    display: block;
    margin: auto;
    width: 50%;
}
