
body {
  background: #ecf0f1 !important;
}

h1 { 
  text-align: center;
  padding: 0px 10px 0px 10px;
 }

 h3 { 
  display: inline;
  padding: 0px 10px 0px 10px;
  }

  h4 { 
  text-align: center;
  padding: 0px 10px 0px 10px;
 }

  #top li {
      display: inline;
      padding: 0px 5px 0px 5px;
}


#top ul {
	list-style-type: none;
    float: left;
    padding: 5px;
    background-color: black;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    max-height: 300px;
}

.lady {
    width: 100%;
    height: auto;
}

p.card-text {
    max-height: 450px;
    height: 200px;
    overflow: scroll;
}

.navbar-header {
  padding: 0px 50px;
}

.navbar-form navbar-right {
  padding: 0px 50px;
}