
body {
  background: MediumTurquoise !important;
}

h1 { 
  display: inline;
  padding: 0px 10px 0px 10px;
 }

 h3 { 
  display: inline;
  padding: 0px 10px 0px 10px;
  }

  #top li {
      display: inline;
      padding: 0px 5px 0px 5px;
}


#top ul {
	list-style-type: none;
    float: left;
    padding: 5px;
    background-color: black;
}


